@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/placeholders';

@import '../layout/mobile-nav';
@import '../layout/partners';

@import '../components/button';

main .link-btn {
    @extend %text-uppercase;

    font-weight: font-weight('bold');
}

.header {
    @include header-bg('../../images/Rectangle (25).png');
}

// Blog section
.blogs {
    &-section {
        @extend %padding-vertical;
    }

    &-header {
        @include container;
        @extend %text-center;
    
        color: get-color('light-blue');
    }

    &-title {
        margin-bottom: 1em;
        text-align: left;
    }

    @include container;
    @extend %grid;
    
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.blog {    
    border: 1px solid get-color('sky-blue');
    border-radius: 5px;

    &-image {
        width: 100%;
    }

    &-text {
        padding: .5em;
    }
}

// Feedback section
.feedback-section {
    @extend %padding-vertical;

    background: get-color('light-gray');
}

.feedbacks {
    @include container;
    @extend %grid;

    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feedback {
    @extend %grid;

    border: 1px solid #c4c4c4;
    margin: 0.75em 0;
    padding: 0.5em;
    place-items: center;
}

.patient-name {
    font-style: italic;
    font-weight: font-weight('medium');
    margin: 1em 0;

    &::before {
        content: '-';
        margin-right: .5em;
    }
}


@media (min-width: 600px) {
    .blogs {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}