@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/placeholders';

@import '../layout/forms';

@import '../components/form-input';
@import '../components/button';

.instructions {
    margin: 1em 0;
}

.gender-container {
    @extend %flex;

    justify-content: space-between;
    max-width: 200px;
}
