body {
    background: hsla(0, 100%, 100%, 0.5);
}

h1 {
    @extend %text-uppercase;
    @extend %text-center;
}

h1,
h2 {
    color: get-color('light-green');
}

a {
    text-decoration: none;
}

.form {
    &-section {
        @include container(1.5em);
    
        background: get-color('white');
        border: 2px solid darken(get-color('gray'), 50%);
        max-width: 700px;
        padding: 1em;
    }
    
    &-link {
        color: get-color('dark-gray');
        text-decoration: underline;
    }

    &-or {
        @extend %text-center;

        border-bottom: 1px solid black;
        color: get-color('light-green');
        font-size: 1.125rem;
        font-weight: font-weight('bold');
        line-height: .12em;
        margin: 1em 0;

        span {
            background: #fff;
            padding: 0 1em;
        }
    }
}


.google-link {
    @extend %text-center;

    background: get-color('dark-red');
}

.facebook-link {
    @extend %text-center;

    background: #1a6194;
}

.fa-google,
.fa-facebook {
    padding-right: .5em;
}