* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
}

img {
    object-fit: cover;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: get-color('white');
    text-decoration: none;
}

h2 {
    @extend %text-center;
    @extend %text-uppercase;

    color: get-color('light-blue');
}

figcaption {
    color: get-color('dark-gray');
}
