%text-uppercase {
    text-transform: uppercase;
}

%text-capitalize {
    text-transform: capitalize;
}

%flex {
    display: flex;
}

%grid {
    display: grid;
}

%text-center {
    text-align: center;
}

%padding-vertical {
    padding: 1.5em 0;
}
