$colors: (
    'white': #fff,
    'light-green': #3ca86e,
    'light-blue': #377aaa,
    'sky-blue': #75afba,
    'light-gray': #efefef,
    'gray': #bdbdbd,
    'dark-gray': #222,
    'dark-red': #dc2020,
    'dark-blue': #1a6194
);

$font-family: 'Poppins', sans-serif;

$font-weights: (
    'normal': 400,
    'medium': 500,
    'bold': 700
);
